<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - ANM HR</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('navbar') %>
    <div class="container">
        <h1>About Us</h1>
        <p>ANM Human Resources Inc. is created for the CCPS 610 - Database System II class. We specialize in employee management, hiring, and job categorization. This website is designed to manage employee records, facilitate hiring processes, and maintain job and department data.</p>
    </div>
    <%- include('footer') %>
    <script src="/js/scripts.js"></script>
</body>
</html>
