<footer class="footer">
    <div class="footer-left">
        <p>ANM Human Resources Inc. 2024</p>
    </div>
    <div class="footer-right">
        <p>Address. Contact. Follow us:
            <a href="#"><img src="/images/instagram.png" alt="Instagram" class="social-icon"></a>
            <a href="#"><img src="/images/twitter.png" alt="Twitter" class="social-icon"></a>
            <a href="#"><img src="/images/facebook.png" alt="Facebook" class="social-icon"></a>
        </p>
    </div>
</footer>
