<nav class="navbar">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/images/anm_logo.webp" alt="ANM Logo" class="logo">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/employee_hiring" class="nav-link">Hire an Employee</a></li>
            <li class="nav-item"><a href="/update_employee" class="nav-link">Employee Management</a></li>
            <li class="nav-item"><a href="/jobboard" class="nav-link">Job Board</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        </ul>
    </div>
</nav>
